.App {
    text-align: center;
}

ul {
    list-style: none;
}

.todo__item {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__check{
    margin-right: 10px;
}

.item__text{
    margin-right: 10px;
    font-size: 20px;
}

.item__delete{
    color: red;
    cursor: pointer;
    margin-right: 10px;
}

.item__complited{
    font-size: 20px;
}

input:checked + span {
    text-decoration: line-through;
}